#leaf
{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .leaf-node {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;

    .leaf-keys, .leaf-values
    {
      display: flex;
      flex-direction: row;
      .leaf-key, .leaf-value
      {
        padding: 20px 50px;
      }
      .leaf-key:not(:last-child)
      {
        border-right: 1px solid #ccc;
      }
    }
    .leaf-keys{

    }

  }
}
