<div id="tree-container">
  <app-root-element [rootElements]="treeData.root.keys"></app-root-element>
  <div id="internal" *ngIf="treeData.root.children">
    <div *ngFor="let internalNode of treeData.root.children; let index = index; let isFirst = first" class="internal-item internal-item-{{index}}">
      <div *ngIf="internalNode.nodeType === 'InternalNode'">
        <app-internal-element [internalNodes]="treeData.root.children"></app-internal-element>
      </div>
      <div *ngIf="internalNode.nodeType === 'LeafNode' && isFirst">
        <app-leaf-element [leafNodes]="treeData.root.children"></app-leaf-element>
      </div>
    </div>
  </div>
</div>
